/* === Estilos para el Pie de Página === */

footer {
    background-color: #523A34; /* Fondo oscuro del color principal */
    color: #f0f0f0; /* Texto claro para contraste */
    text-align: center; /* Centra todo el contenido */
    padding: 0px 20px;
    margin-top: 40px; /* Espacio arriba del footer */
    font-size: 0.9em;
}

/* Estilos para los párrafos o artículos dentro del footer */
footer article {
    margin: 5px 0;
}